.App {
  font-family: sans-serif;
  text-align: center;
}
.img-fluid-animated{
height: 300px;
width: 300px;
}
.btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.3s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}
.btn-get-started:hover{
  background: #3498db;
  color: #fff;
}
.animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
0% {
transform: translateY(10px);
}
100%{
transform: translateY(-10px);
}
}
@keyframes up-down{
0%{
  transform: translateY(10px);
}
}


.anim:hover{
  transform: scale(1.1);
}

.anim{
  transition: transform 0.2s ease;
}